<form action="/random/results" method="get">
  <div style="display:flex; flex-direction:column;">
    <label>Minimum</label>
    <input type="decimal" name="user_min" placeholder="E.g. 1.5">
    <label>Maximum</label>
    <input type="decimal" name="user_max" placeholder="E.g. 4.5">
    <button type="submit">Pick random number</button>
  </div>
</form>
