<form action="/random/results" method="get">
  <div style="display:flex; flex-direction:column;">
    <label for="a">Minimum</label>
    <input id="a" type="decimal" name="user_min" placeholder="E.g. 1.5">
    <label for="b">Maximum</label>
    <input id="b" type="decimal" name="user_max" placeholder="E.g. 4.5">
    <button type="submit">Pick random number</button>
  </div>
</form>
