<h1>Square Results</h1>
  <table>
    <tr>
      <th>Number</th>
      <td><%= params[:number] %></td>
    </tr>
    <tr>
      <th>Square</th>
      <td><%= @square %></td>
    </tr>
  </table>
  <br>
  <a href="/square/new">Calculate another square</a>
