<h1>Square Root Results</h1>
  <table>
    <tr>
      <th>Number</th>
      <td><%= params[:number] %></td>
    </tr>
    <tr>
      <th>Square</th>
      <td><%= @squareroot %></td>
    </tr>
  </table>
  <br>
  <a href="/square_root/new">Calculate another square root</a>
